@font-face{
    font-family: LibreFranklinItalic;
    src: url('./fonts/Libre_Franklin/LibreFranklin-ExtraBoldItalic.ttf');
    font-style: italic;
    font-weight: 800;
    font-display: swap;
}
@font-face{
    font-family: LibreFranklin;
    src: url('./fonts/Libre_Franklin/LibreFranklin-Regular.ttf');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face{
    font-family: BebasNeue;
    src: url('./fonts/Bebas_Neue/BebasNeue-Regular.ttf');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face{
    font-family: Montserrat;
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}