$white:white;
$black:black;
$hero_bg:#FFC045; // to zmnienic bo za duzo uzywa

$hero_text:#3D2514; // to prawie kazy text uzywa
$red:#BF2222;

$text-secondary:#3D3D3D;
$pagination_bg:#DCDCDC;
$input_border:#BEBEBE;